<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Paytone+One&family=Squada+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <h1><a href="./index.html" class="navbar-brand d-block">ART NFT</a></h1>
        <div class="d-flex gap-6">
          <!-- <form class="d-none" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
          <button type="button" class="btn p-0 border-0">
            <i class="fa-solid fa-magnifying-glass fs-6"></i>
          </button>
          <button
            class="navbar-toggler btn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarHamMenu"
            aria-controls="navbarHamMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fa-solid fa-bars fs-5"></i>
            <i class="fa-solid fa-xmark fs-5"></i>
          </button>
        </div>
        <div class="collapse navbar-collapse px-4 px-lg-0 pb-6 pb-lg-0 bg-white bg-lg-transparent" id="navbarHamMenu">
          <ul class="navbar-nav text-center">
            <li class="nav-item border-bottom border-bottom-lg-0">
              <a class="nav-link lh-lg fs-lg-base lh-lg-base py-6" aria-current="page" href="#">探索</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lh-lg fs-lg-base lh-lg-base py-6" href="#">市值</a>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-primary text-white lh-lg w-100 py-3 px-6">連結錢包</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%- contents %>
    
    <footer class="footer">footer</footer>

    <script src="https://kit.fontawesome.com/b52c976d49.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
